[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
ipympl = "*"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
sqlalchemy = "*"
pymysql = {extras = ["rsa"],version = "*"}
seaborn = "*"
moviepy =  "*"
pymc3 = "*"
statsmodels = "*"
pyod = "*"
dsio = {editable = true,git = "https://github.com/MentatInnovations/datastream.io"}
tornado = "==4.5.3"

[requires]
python_version = "3.7"
